#ignore pawels java files
Keyboard.java
Display.java
Display1.java
SpielStarter.java
StapelTester.java
StapelTester1.java
ZufallsTestFenster.java
Malen.java
farben.jpg
text.txt
woerter.txt
ListElement.java

#ignore build directory
build/

#ignore class files
*.class

#ignore txt files
*.txt
*.txt.idx

#ignore directory file (created by kde's dolphin)
.directory

